<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <!--El atributo *ngFor me permite iterar sobre una matriz de objetos 
     	dish: como vamos a llamar a cada objeto
     	dishes: nombre del array donde estan los objetos-->
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <!-- mat-grid-list: Divide la lista en forma de cuadro y depende del numero de columnas que le demos -->

  <div fxFlex *ngIf="dishes">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes" 
      [routerLink]="['/dishdetail', dish.id]">
        <img height="200px" src={{dish.image}} alt={{dish.name}}>
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="dishes">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>


</div>
